.card-header {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 14px;
  margin: 5px 0;
}

.separator {
  width: 100%;
  border-bottom: 1px solid black;
}

.ref-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  margin: 5px 0;
}

.ref-price .price {
  font-weight: bold;
}

.description {
  height: 150px;
  overflow-y: scroll;
  text-align: justify;
  font-size: 11px;
  margin: 10px 0;
}

.category-rating {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 5px 0;
}

.category-rating p {
  margin: 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
}

.sticky-navbar {
  position: sticky;
  top: 56px;
  z-index: 1520;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.custom-input {
  width: 400px;
}

img {
  height: 250px;
  object-fit: contain;
}

.sticky-carrito {
  position: sticky;
  top: 125px;
  z-index: 800;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ddd;
  width: 190px;
  height: 500px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}
