<div class="general-styles shadow-lg">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand ms-auto" href="#">Carrito de compras</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item m-auto">
            <a class="nav-link" routerLink="" [ngClass]="{active: menuOption == 'home'}"
              (click)="onOption('home')">home</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link" routerLink="Products" [ngClass]="{active: menuOption == 'Products'}"
              (click)="onOption('Products')">Productos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>